<body class="body-index">
  <h1>Challenge Website</h1>
  <form action="/register">
    <input
      class="home-btns"
      type="submit"
      id="index-signup-btn"
      value="Sign Up"
    />
  </form>

  <form action="/login">
    <input class="home-btns" type="submit" id="index-login-btn" value="Login" />
  </form>
</body>
